  
/*

!/themes/
/themes/*
/mails
!/themes/classic/
/themes/classic/assets

!/modules/
/modules/*
!/modules/contactsellerinfo

!/Config.xml
!/gulpfile.js
!/index.php.copyE
!/package.json
!/.editorconfig
!/.jscsrc
!/.gitignore
!/.gitconfig
!index.php
config_pl.xml

